<section class="sheet" id="awards">
{{#ifIn "AWARD" @root.resume.settings.visibleCategories }}
	<h2>{{@root.resume.settings.labels.award.categoryTitle}}</h2>
	{{#each resume.awards}}
	<div class="item content">
		{{>nav categoryKey=@root.resume.settings.categoryKeys.award id=id showDelete=true}}
		{{#if title}}
		<div class="title">
			{{title}}
		</div>
		{{/if}}
		{{#if date}}
		<div class="date">
			{{date}}
		</div>
		{{/if}}
		{{#if awarder}}
		<div class="awarder">
			{{awarder}}
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</div>
	{{/each}}
	{{>add categoryKey=@root.resume.settings.categoryKeys.award}}
{{/ifIn}}
</section>